<h1>Add a movie to your <%= @list.name %> list</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>

<!-- how could I interpolate the list name in this link text? -->
<%= link_to 'Back to your list', list_path(@list) %>
| <%= link_to 'Back to all lists', lists_path %>
